{% extends 'base.html.twig' %}

{% block title %} Edit Agent {% endblock %}
{% block meta_title %} Edit Agent{% endblock %}

{% block body %}
    {%  include 'agent/form.html.twig' with {'form': edit_form, 'delete_form': delete_form} %}
{% endblock %}