{{ form_start(form) }}

{% form_theme form 'form/bootstrap_3_horizontal_2_col_layout.html.twig' %}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list"></i>
            <span class="caption-subject"> Agent Details</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# First Name #}
            <div class="col-sm-6">
                {{ form_row(form.firstName) }}
            </div>

            {# Last Name#}
            <div class="col-sm-6">
                {{ form_row(form.lastName) }}
            </div>
        </div>

        <div class="row">
            {# License Number #}
            <div class="col-sm-6">
                {{  form_row(form.licenseNumber) }}
            </div>

            {# License Expiry #}
            <div class="col-sm-6">
                {{  form_row(form.licenseExpiry) }}
            </div>
        </div>

        <div class="row">
            {# Company Name #}
            <div class="col-sm-6">
                {{  form_row(form.company) }}
            </div>
        </div>

        <div class="row">
            {# Phone #}
            <div class="col-sm-6">
                {{  form_row(form.phone) }}
            </div>

            {# Mobile #}
            <div class="col-sm-6">
                {{  form_row(form.mobile) }}
            </div>
        </div>

        <div class="row">
            {# Email #}
            <div class="col-sm-6">
                {{  form_row(form.emailAddress) }}
            </div>

            {# Fax #}
            <div class="col-sm-6">
                {{  form_row(form.fax) }}
            </div>
        </div>
    </div>
</div>

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-directions"></i>
            <span class="caption-subject"> Address</span>
        </div>
    </div>
    <div class="portlet-body form">


        <div class="row">
            {# Address #}
            <div class="col-sm-6">
                {{  form_row(form.address) }}
            </div>

            {# Suburb #}
            <div class="col-sm-6">
                {{  form_row(form.suburb) }}
            </div>
        </div>

        <div class="row">
            {# State #}
            <div class="col-sm-6">
                {{  form_row(form.state) }}
            </div>

            {# Postcode #}
            <div class="col-sm-6">
                {{  form_row(form.postcode) }}
            </div>
        </div>
    </div>
</div>

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-picture"></i>
            <span class="caption-subject"> Profile Pic</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# Profile Pic #}
            <div class="col-sm-6">
                {% form_theme form.profilePicFile 'form/vich_form_fields.html.twig' %}
                {{  form_widget(form.profilePicFile) }}
            </div>
        </div>
    </div>
</div>

    <input class="btn btn-primary pull-left" type="submit" value="Save"/>
{{ form_end(form) }}
<button type="button" class="btn pull-left delete" data-toggle="modal" data-target=".bs-example-modal-sm">Delete</button>

<div class="clearfix"></div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p style="margin-top: 0px;">Are you sure you want to delete agent?</p>
                {% if delete_form is defined %}
                    {{ form_start(delete_form) }}
                    <div class="text-center">
                        <input class="btn delete" type="submit" value="Delete">
                        <button type="button" class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    {{ form_end(delete_form) }}
                {% endif %}

            </div>
        </div>
    </div>
</div>
