{% extends 'base.html.twig' %}

{% block title %}
    View Agents
    <a href="{{ path('agent_new') }}" class="btn sbold green pull-right"> Add New
        <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block meta_title %} View Agents {% endblock %}

{% block body %}
    <div class="portlet light ">
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="listTable">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /> </th>
                    <th> ID </th>
                    <th> Name </th>
                    <th> Email </th>
                    <th> Phone </th>
                    <th> Mobile </th>
                </tr>
                </thead>
                <tbody>
                {% for agent in agents %}
                    <tr>
                        <td><input name="agents[]" type="checkbox" class="checkboxes" value="{{ agent.id }}" /> </td></td>
                        <td><a href="{{ path('agent_edit', {'id': agent.id}) }}">{{ agent.id }}</a></td>
                        <td>{{ agent.name }}</td>
                        <td>{{ agent.emailAddress }}</td>
                        <td>{{ agent.phone }}</td>
                        <td>{{ agent.mobile }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/agent-list.js') }}" type="text/javascript"></script>
{% endblock %}