{% extends 'base.html.twig' %}

{% block title %} Add Agent {% endblock %}
{% block meta_title %} Add New Agent {% endblock %}

{% block body %}
    {%  include 'agent/form.html.twig' with {'form': form } %}
{% endblock %}