{% extends 'base.html.twig' %}

{% block body %}
    <h1>Agent</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ agent.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ agent.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ agent.lastName }}</td>
            </tr>
            <tr>
                <th>Emailaddress</th>
                <td>{{ agent.emailAddress }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ agent.phone }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ agent.mobile }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ agent.fax }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ agent.company }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ agent.address }}</td>
            </tr>
            <tr>
                <th>Suburb</th>
                <td>{{ agent.suburb }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ agent.state }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ agent.postcode }}</td>
            </tr>
            <tr>
                <th>Licensenumber</th>
                <td>{{ agent.licenseNumber }}</td>
            </tr>
            <tr>
                <th>Licenseexpiry</th>
                <td>{% if agent.licenseExpiry %}{{ agent.licenseExpiry|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('agent_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('agent_edit', { 'id': agent.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
