<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block meta_title %}Welcome!{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <link href="{{ asset( 'assets/css/blank.css') }}" rel="stylesheet" type="text/css" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
