<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block meta_title %}Welcome!{% endblock %}</title>
</head>
<body>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% block title %}{% endblock %}</h4>
    </div>
    {% block body %}{% endblock %}
</body>
</html>