<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list"></i>
            <span class="caption-subject"> Complex Details</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# Listing Date #}
            <div class="col-sm-6">
                {{ form_row(form.listingDate) }}
            </div>

            {# Listing Expiry #}
            <div class="col-sm-6">
                {{ form_row(form.listingExpiry) }}
            </div>
        </div>

        <div class="row">
            {# Listing Type #}
            <div class="col-sm-6">
                {{  form_row(form.listingType) }}
            </div>

            {# Listing Complex Type #}
            <div class="col-sm-6">
                {{  form_row(form.listingComplexType) }}
            </div>
        </div>

        <div class="row">
            {# Agent #}
            <div class="col-sm-6">
                {{  form_row(form.agent) }}
            </div>

            {# Last Sold Date #}
            <div class="col-sm-6">
                {{  form_row(form.lastSoldDate) }}
            </div>
        </div>

        <div class="row">
            {# Primary Location #}
            <div class="col-sm-6">
                {{  form_row(form.primaryLocation) }}
            </div>

            {# Secondary Location #}
            <div class="col-sm-6">
                {{  form_row(form.secondaryLocation) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{  form_row(form.status) }}
            </div>
            <div class="col-sm-6">
                <div class="col-sm-offset-3">
                    <div style="display: inline-block; margin-left: 24px; margin-right: 6px;">
                        {{  form_widget(form.featured) }}
                        {{  form_label(form.featured) }}
                    </div>

                    <div style="display: inline-block; margin-left: 24px; margin-right: 6px;">
                        {{  form_widget(form.archived) }}
                        {{  form_label(form.archived) }}
                    </div>

                    <div style="display: inline-block; margin-left: 24px; margin-right: 6px;">
                        {{  form_widget(form.alertAllBuyers) }}
                        {{  form_label(form.alertAllBuyers) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-directions"></i>
            <span class="caption-subject"> Address</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# Address #}
            <div class="col-sm-6">
                {{  form_row(form.address) }}
            </div>

            {# Suburb #}
            <div class="col-sm-6">
                {{  form_row(form.suburb) }}
            </div>
        </div>

        <div class="row">
            {# State #}
            <div class="col-sm-6">
                {{  form_row(form.state) }}
            </div>

            {# Postcode #}
            <div class="col-sm-6">
                {{  form_row(form.postcode) }}
            </div>
        </div>
    </div>
</div>

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-info"></i>
            <span class="caption-subject"> Other</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# Parish #}
            <div class="col-sm-6">
                {{  form_row(form.parish) }}
            </div>

            {# County #}
            <div class="col-sm-6">
                {{  form_row(form.county) }}
            </div>
        </div>

        <div class="row">
            {# Plan Number #}
            <div class="col-sm-6">
                {{  form_row(form.planNumber) }}
            </div>
        </div>
    </div>
</div>
