<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list"></i>
            <span class="caption-subject"> Contact Details</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# Primary Contact Name #}
            <div class="col-sm-6">
                {{ form_row(form.primaryContactName) }}
            </div>

            {# Secondary Contact Name #}
            <div class="col-sm-6">
                {{ form_row(form.secondaryContactName) }}
            </div>
        </div>

        <div class="row">
            {# Phone #}
            <div class="col-sm-6">
                {{ form_row(form.phone) }}
            </div>

            {# Fax #}
            <div class="col-sm-6">
                {{ form_row(form.fax) }}
            </div>
        </div>

        <div class="row">
            {# Mobile #}
            <div class="col-sm-6">
                {{ form_row(form.mobile) }}
            </div>

            {# Email #}
            <div class="col-sm-6">
                {{ form_row(form.email) }}
                {{ form_row(form.receiveMarketingEmails) }}
            </div>
        </div>

        <div class="row">
            {# Manager Unit Number #}
            <div class="col-sm-6">
                {{ form_row(form.managerUnitNumber) }}
            </div>

            {# Website URL #}
            <div class="col-sm-6">
                {{ form_row(form.websiteUrl) }}
            </div>
        </div>

        <div class="row">
            {# UBD Reference #}
            <div class="col-sm-6">
                {{ form_row(form.uBDReference) }}
            </div>
        </div>
    </div>
</div>

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-notebook"></i>
            <span class="caption-subject"> Visits/Notes</span>
        </div>
        <div class="actions">
            <a data-toggle="modal" data-ajax="true" href="/property-notes/new?propertyId={{ property.id }}" data-target="#myModal" class="btn btn-default">
                <i class="fa fa-plus"></i> Add Note </a>
        </div>
    </div>
    <div class="portlet-body form" id="notesList">
        {% for note in property.notes %}
        <div id="propertyNote{{ note.id }}" class="note" data-toggle="modal" data-ajax="true" href="/property-notes/{{ note.id }}/edit" data-target="#myModal">
            <div class="row">
                <div class="col-md-9">
                    <h3>{{ note.title }}</h3>
                </div>
                <div class="col-md-3">
                    <h5 class="text-md-right">
                        {{ note.modifiedAt.format('d M Y g:i a') }} <br class="hidden-xs hidden-sm"/>
                        <strong>{{ note.agent.name }}</strong>
                    </h5>
                </div>
            </div>
            {% if (note.visitDate is not null) %}
            <p><strong>Visit: {{ note.visitDate.format('d M Y') }}</strong></p>
            {% endif %}
            <p>{{ note.details }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% raw %}
<script id="propertyNoteTmpl" type="text/x-jsrender">
    <div id="propertyNote{{:id}}" class="note" data-toggle="modal" data-ajax="true" href="/property-notes/{{:id}}/edit" data-target="#myModal">
        <div class="row">
            <div class="col-md-9">
                <h3>{{:title}}</h3>
            </div>
            <div class="col-md-3">
                <h5 class="text-md-right">
                    {{:createdAt}} <br class="hidden-xs hidden-sm"/>
                    <strong>{{:agent}}</strong>
                </h5>
            </div>
        </div>
        {{if visitDate}}
           <p><strong>Visit: {{:visitDate}}</strong></p>
        {{/if}}
        <p>{{:details}}</p>
    </div>
</script>
{% endraw %}