<div class="row">
    <div class="col-md-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-star"></i>
                    <span class="caption-subject"> Features</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div style="padding-left: 20px;">
                    {{ form_widget(form.features) }}
                </div>
            </div>
        </div>
    </div>
</div>
