<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-briefcase"></i>
            <span class="caption-subject"> Financials</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# Body Corporate Salary #}
            <div class="col-sm-6">
                {{ form_row(form.bodycorporateSalary) }}
            </div>

            {# Salary Anniversary #}
            <div class="col-sm-6">
                {{ form_row(form.salaryAnniversary) }}
            </div>
        </div>

        <div class="row">
            {# Body Corporate Salary Review #}
            <div class="col-sm-6">
                {{ form_row(form.bodycorporateSalaryReview) }}
            </div>

            {# Manager Unit Body Corporate Fees #}
            <div class="col-sm-6">
                {{ form_row(form.managerUnitBodyCorporateFees) }}
            </div>
        </div>

        <div class="row">
            {# Manager Unit Rates #}
            <div class="col-sm-6">
                {{ form_row(form.managerUnitRates) }}
            </div>

            {# Sinking Fund Balance #}
            <div class="col-sm-6">
                {{ form_row(form.sinkingFundBalance) }}
            </div>
        </div>

        <div class="row">
            {# Manager Unit Price #}
            <div class="col-sm-6">
                {{ form_row(form.managerUnitPrice) }}
            </div>

            {# Management Rights Price #}
            <div class="col-sm-6">
                {{ form_row(form.managementRightsPrice) }}
            </div>
        </div>

        <div class="row">
            {# Total Price #}
            <div class="col-sm-6">
                {{ form_row(form.totalPrice) }}
            </div>

            {# Alternate Price Display Text #}
            <div class="col-sm-6">
                {{ form_row(form.priceDisplayAlt) }}
            </div>
        </div>

        <div class="row">
            {# Net Profit #}
            <div class="col-sm-6">
                {{ form_row(form.netProfit) }}
            </div>
        </div>

        <div class="row">
            {# Registered Proprietor Manager's Unit #}
            <div class="col-sm-6">
                {{ form_row(form.registeredProprietorManagersUnit) }}
            </div>

            {# Registered Proprietor Rights Business #}
            <div class="col-sm-6">
                {{ form_row(form.registeredProprietorRightsBusiness) }}
            </div>
        </div>

        <div class="row">
            {# Seller's solicitor #}
            <div class="col-sm-6">
                {{ form_row(form.sellerSolicitor) }}
            </div>

            {# Seller's accountant #}
            <div class="col-sm-6">
                {{ form_row(form.sellerAccountant) }}
            </div>
        </div>
    </div>
</div>