<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-list"></i>
            <span class="caption-subject"> Letting Details</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# Year Built #}
            <div class="col-sm-6 col-md-4">
                {{ form_row(form.yearBuilt) }}
            </div>

            {# Num Multi Unit Owners #}
            <div class="col-sm-6 col-md-4">
                {{ form_row(form.numMultipleUnitOwnersInComplex) }}
            </div>

            {# Total Units in Complex #}
            <div class="col-sm-6 col-md-4">
                {{ form_row(form.totalNumUnits) }}
            </div>
        </div>
    </div>
</div>

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-home"></i>
            <span class="caption-subject"> Letting Pool Units</span>
        </div>
    </div>
    <div id="lettingPoolUnits" class="portlet-body form">
        <div class="row calcUnitTotals">
            {# Permanent Units #}
            <div class="col-sm-6 col-md-4 ">
                {{ form_row(form.numPermanentUnits) }}
            </div>

            {# Holiday Units #}
            <div class="col-sm-6 col-md-4">
                {{ form_row(form.numHolidayUnits) }}
            </div>

            {# Corporate Units #}
            <div class="col-sm-6 col-md-4">
                {{ form_row(form.numCorporateUnit) }}
            </div>

            {# Total Letting Pool Units #}
            <div class="col-sm-6 col-md-4">
                {{ form_row(form.totalNumLettingUnits) }}
            </div>
        </div>
    </div>
</div>


<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-home"></i>
            <span class="caption-subject"> Outside Letting Pool Units</span>
        </div>
    </div>
    <div id="outsideLettingPoolUnits" class="portlet-body form">
        <div class="row calcUnitTotals">
            {# Lockup Units #}
            <div class="col-sm-6 col-md-4">
                {{ form_row(form.numOutsideLettingLockUp) }}
            </div>

            {# Outside Agent Units #}
            <div class="col-sm-6 col-md-4">
                {{ form_row(form.numOutsideLettingOutsideAgents) }}
            </div>

            {# Self Managed Units #}
            <div class="col-sm-6 col-md-4">
                {{ form_row(form.numOutsideLettingSelfManaged) }}
            </div>

            {# Owner Occupier Units #}
            <div class="col-sm-6 col-md-4">
                {{ form_row(form.numOutsideLettingOwnerOccupied) }}
            </div>

            {# Total Outside Letting Pool Units #}
            <div class="col-sm-6 col-md-4">
                {{ form_row(form.totalNumOutsideLettingUnits) }}
            </div>
        </div>
    </div>
</div>