<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-home"></i>
            <span class="caption-subject"> Manager Unit</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# Manager Unit Size #}
            <div class="col-sm-6">
                {{ form_row(form.managerUnitSize) }}
            </div>

            {# Manager Unit Description #}
            <div class="col-sm-6">
                {{ form_row(form.managerUnitDescription) }}
            </div>
        </div>

        <div class="row">
            {# Storage #}
            <div class="col-sm-6">
                {{ form_row(form.storage) }}
            </div>
        </div>
    </div>
</div>


<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-note"></i>
            <span class="caption-subject"> Office</span>
        </div>
    </div>
    <div class="portlet-body form">

        <div class="row">
            {# Office Type #}
            <div class="col-sm-6">
                {{ form_row(form.officeType) }}
            </div>
        </div>

        <div class="row">
            {# Manager Unit Size #}
            <div class="col-sm-6">
                {{ form_row(form.officeReception) }}
            </div>

            {# Manager Unit Description #}
            <div class="col-sm-6">
                {{ form_row(form.officeHours) }}
            </div>
        </div>

        <div class="row">
            {# Manager Unit Size #}
            <div class="col-sm-6">
                {{ form_row(form.officeReception) }}
            </div>

            {# Manager Unit Description #}
            <div class="col-sm-6">
                {{ form_row(form.officeHours) }}
            </div>
        </div>

        <div class="row">
            {# Manager Unit Size #}
            <div class="col-sm-6">
                {{ form_row(form.officeSoftware) }}
            </div>

            {# Manager Unit Description #}
            <div class="col-sm-6">
                {{ form_row(form.module) }}
            </div>
        </div>

        <div class="row">
            {# Manager Unit Size #}
            <div class="col-sm-6">
                {{ form_row(form.agreementTerm) }}
            </div>

            {# Manager Unit Description #}
            <div class="col-sm-6">
                {{ form_row(form.yearsToRun) }}
            </div>
        </div>
    </div>
</div>

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-flag"></i>
            <span class="caption-subject"> Body Corporate</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# Manager Unit Size #}
            <div class="col-sm-6">
                {{ form_row(form.bodyCorpSecretary) }}
            </div>

            {# Manager Unit Description #}
            <div class="col-sm-6">
                {{ form_row(form.bodyCorpManager) }}
            </div>
        </div>

        <div class="row">
            {# Manager Unit Size #}
            <div class="col-sm-6">
                {{ form_row(form.lettingAgreementAvailable) }}
            </div>

            {# Manager Unit Description #}
            <div class="col-sm-6">
                {{ form_row(form.caretakingAgreementAvailable) }}
            </div>
        </div>
    </div>
</div>