<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-feed"></i>
            <span class="caption-subject"> Publishing</span>
        </div>
    </div>
    <div class="portlet-body form">
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.contentHidden) }}

        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                {{ form_widget(form.showOnWebsite) }}
                {{ form_label(form.showOnWebsite) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                {{ form_widget(form.showOnExternalWebsites) }}
                {{ form_label(form.showOnExternalWebsites) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 col-sm-offset-3">
                {{ form_widget(form.showInEmailBlasts) }}
                {{ form_label(form.showOnExternalWebsites) }}
            </div>
        </div>
    </div>
</div>

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-plus"></i>
            <span class="caption-subject"> Upload Gallery Images</span>
        </div>
    </div>
    <div class="portlet-body form">

        {{ form_widget(form.uploadedFiles) }}
    </div>
</div>

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-picture"></i>
            <span class="caption-subject"> Gallery</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row" data-featherlight-gallery
             data-featherlight-filter="a">
        {% for file in property.files %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center gallery-image-edit">
                <div class="gallery-image">
                    <a href="{{ file.url }}" target="_blank" title="Click to view">
                        <span style="background-image: url({{ file.url }})"/></span>
                    </a>
                    {{ form_widget(attribute(form, 'deleteFile'~file.id)) }}
                    {{ form_label(attribute(form, 'deleteFile'~file.id)) }}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>