<div class="portlet light ">
        <div class="portlet-title">
                <div class="caption">
                        <i class="icon-note"></i>
                        <span class="caption-subject"> Tariffs</span>
                </div>
        </div>
        <div class="portlet-body form">
                <div class="row">
                        <div class="col-sm-6 col-md-4">
                                {# Permanent Tariff #}
                                {{ form_row(form.permanentTariff) }}
                        </div>
                        <div class="col-sm-6 col-md-4">
                                {# Corporate Tariff #}
                                {{ form_row(form.corporateTariff) }}
                        </div>
                        <div class="col-sm-6 col-md-4">
                                {# Holiday Tariff #}
                                {{ form_row(form.holidayTariff) }}
                        </div>
                </div>
        </div>
</div>