{% extends 'base.html.twig' %}

{% block title %} Edit Buyer {% endblock %}
{% block meta_title %} Edit Buyer{% endblock %}

{% block body %}
    {%  include 'buyer/form.html.twig' with {'form': edit_form, 'delete_form': delete_form} %}
{% endblock %}