{{ form_start(form) }}

{% form_theme form 'form/bootstrap_3_horizontal_2_col_layout.html.twig' %}

<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-user"></i>
            <span class="caption-subject"> Details</span>
        </div>
    </div>
    <div class="portlet-body form">

        <div class="row">
            {# First Name #}
            <div class="col-sm-6">
                {{ form_row(form.firstName) }}
            </div>

            {# Last Name#}
            <div class="col-sm-6">
                {{ form_row(form.lastName) }}
            </div>
        </div>

        <div class="row">
            {# Company Name #}
            <div class="col-sm-6">
                {{  form_row(form.company) }}
            </div>
        </div>

        <div class="row">
            {# Phone #}
            <div class="col-sm-6">
                {{  form_row(form.phone) }}
            </div>

            {# Mobile #}
            <div class="col-sm-6">
                {{  form_row(form.mobile) }}
            </div>
        </div>

        <div class="row">
            {# Email #}
            <div class="col-sm-6">
                {{  form_row(form.emailAddress) }}
            </div>

            {# Email Consent #}
            <div class="col-sm-6">
                {{  form_row(form.emailConsent) }}
            </div>
        </div>



        <div class="row">

            {# Fax #}
            <div class="col-sm-6">
                {{  form_row(form.fax) }}
            </div>
        </div>
    </div>
</div>



<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-directions"></i>
            <span class="caption-subject"> Address</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# Address #}
            <div class="col-sm-6">
                {{  form_row(form.address) }}
            </div>

            {# Suburb #}
            <div class="col-sm-6">
                {{  form_row(form.suburb) }}
            </div>
        </div>

        <div class="row">
            {# State #}
            <div class="col-sm-6">
                {{  form_row(form.state) }}
            </div>

            {# Postcode #}
            <div class="col-sm-6">
                {{  form_row(form.postcode) }}
            </div>
        </div>
    </div>
</div>


<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-notebook"></i>
            <span class="caption-subject"> Visits/Notes</span>
        </div>
        <div class="actions">
            <a data-toggle="modal" data-ajax="true" href="{{ path('buyernote_new') }}?buyerId={{ buyer.id }}" data-target="#myModal" class="btn btn-default">
                <i class="fa fa-plus"></i> Add Note </a>
        </div>
    </div>
    <div class="portlet-body form" id="notesList">
        {% for note in buyer.notes %}
            <div id="buyerNote{{ note.id }}" class="note" data-toggle="modal" data-ajax="true" href="{{ path('buyernote_edit', {'id': note.id}) }}" data-target="#myModal">
                <div class="row">
                    <div class="col-md-9">
                        <h3>{{ note.title }}</h3>
                    </div>
                    <div class="col-md-3">
                        <h5 class="text-md-right">
                            {% if (note.updatedAt is not null) %}
                            {{ note.updatedAt.format('d M Y g:i a') }} <br class="hidden-xs hidden-sm"/>
                            {% endif %}
                            <strong>{{ note.agent.name }}</strong>
                        </h5>
                    </div>
                </div>
                {% if (note.visitDate is not null) %}
                    <p><strong>Visit: {{ note.visitDate.format('d M Y') }}</strong></p>
                {% endif %}
                <p>{{ note.details }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% raw %}
    <script id="buyerNoteTmpl" type="text/x-jsrender">
    <div id="buyerNote{{:id}}" class="note" data-toggle="modal" data-ajax="true" href="/buyer-notes/{{:id}}/edit" data-target="#myModal">
        <div class="row">
            <div class="col-md-9">
                <h3>{{:title}}</h3>
            </div>
            <div class="col-md-3">
                <h5 class="text-md-right">
                    {{:createdAt}} <br class="hidden-xs hidden-sm"/>
                    <strong>{{:agent}}</strong>
                </h5>
            </div>
        </div>
        {{if visitDate}}
           <p><strong>Visit: {{:visitDate}}</strong></p>
        {{/if}}
        <p>{{:details}}</p>
    </div>
</script>
{% endraw %}


    <input class="btn btn-primary pull-left" type="submit" value="Save"/>
{{ form_end(form) }}
<button type="button" class="btn pull-left delete" data-toggle="modal" data-target=".bs-example-modal-sm">Delete</button>

<div class="clearfix"></div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p style="margin-top: 0px;">Are you sure you want to delete buyer?</p>
                {% if delete_form is defined %}
                    {{ form_start(delete_form) }}
                    <div class="text-center">
                        <input class="btn delete" type="submit" value="Delete">
                        <button type="button" class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    {{ form_end(delete_form) }}
                {% endif %}

            </div>
        </div>
    </div>
</div>
