{% extends 'base.html.twig' %}

{% block title %}Buyer CSV Import{% endblock %}
{% block meta_title %}Buyer CSV Import{% endblock %}

{% block body %}
    <div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-cloud-upload"></i>
            <span class="caption-subject"> Buyer CSV Import</span>
        </div>
    </div>
    <div class="portlet-body form">
        {% if importCount > 0 %}
            <div class="alert alert-success">
                Successfully imported {{ importCount }} buyers with {{ errors }} errors.
            </div>
        {% endif %}

        <div class="alert alert-warning">
            This upload expects a csv file of format: name, email, phone</br>
            This upload process does not handle importing of duplicate people so ensure you havne't already imported this file.
        </div>

        {{ form(form) }}
    </div>
</div>

{% endblock %}