{% extends 'base.html.twig' %}

{% block title %}
    View Buyers
    <a href="{{ path('buyer_new') }}" class="btn sbold green pull-right"> Add New
        <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block meta_title %} View Buyers {% endblock %}

{% block body %}
    <div class="portlet light ">
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="buyerList">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /> </th>
                    <th> ID </th>
                    <th> Name </th>
                    <th> Email </th>
                    <th> State </th>
                    <th> Suburb </th>
                    <th> Postcode </th>
                    <th> Subscribed </th>
                </tr>
                </thead>
                <tbody>
                {% for buyer in buyers %}
                    <tr>
                        <td><input name="buyers[]" type="checkbox" class="checkboxes" value="{{ buyer.id }}" /> </td></td>
                        <td><a href="{{ path('buyer_edit', {'id': buyer.id}) }}">{{ buyer.id }}</a></td>
                        <td>{{ buyer.name }}</td>
                        <td>{{ buyer.emailAddress }}</td>
                        <td>{{ buyer.state }}</td>
                        <td>{{ buyer.suburb }}</td>
                        <td>{{ buyer.postcode }}</td>
                        <td>{%  if buyer.emailConsent %}<i class="fa fa-check-circle"></i>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/buyer-list.js') }}" type="text/javascript"></script>
{% endblock %}