{% extends 'base.html.twig' %}

{% block title %} Add Buyer {% endblock %}
{% block meta_title %} Add New Buyer {% endblock %}

{% block body %}
    {%  include 'buyer/form.html.twig' with {'form': form } %}
{% endblock %}