{% extends 'base.html.twig' %}

{% block body %}
    <h1>Buyer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ buyer.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ buyer.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ buyer.lastName }}</td>
            </tr>
            <tr>
                <th>Emailaddress</th>
                <td>{{ buyer.emailAddress }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ buyer.phone }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ buyer.mobile }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ buyer.fax }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ buyer.company }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ buyer.address }}</td>
            </tr>
            <tr>
                <th>Suburb</th>
                <td>{{ buyer.suburb }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ buyer.state }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ buyer.postcode }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('buyer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('buyer_edit', { 'id': buyer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
