{% extends 'base.html.twig' %}

{% block title %} Edit Deal {% endblock %}
{% block meta_title %} Edit Deal {% endblock %}

{% block body %}
    {%  include 'deal/form.html.twig' with {'form': form } %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/deal-form.js') }}" type="text/javascript"></script>
{% endblock %}