{{ form_start(form, {'attr': {'id':'dealForm'}}) }}

{% form_theme form 'form/bootstrap_3_horizontal_2_col_layout_halves.html.twig' %}

{# Property #}
<div class="row">
    <div class="col-xs-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-home"></i>
                    <span class="caption-subject"> Property</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    {# Property #}
                    <div class="col-xs-12">
                        {{ form_widget(form.property) }}
                        <div id="propertyDetails"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{# Buyer & Agent #}
<div class="row">
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-users"></i>
                    <span class="caption-subject"> Buyer</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    {# Buyer #}
                    <div class="col-xs-12">
                        {{ form_widget(form.buyer) }}
                        <div id="buyerDetails"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-user"></i>
                    <span class="caption-subject"> Agent</span>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row">
                    {# Agent #}
                    <div class="col-xs-12">
                        {{ form_widget(form.listingAgent) }}
                        <div id="agentDetails"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% raw %}
<script id="personTpl" type="text/x-jsrender">
<div class="personDetails">
    {{if emailAddress}}
    <div class="row">
        <div class="col-xs-12">
            <i class="fa fa-envelope"></i> {{:emailAddress}}
        </div>
    </div>
    {{/if}}

    {{if mobile || phone}}
    <div class="row">
        {{if mobile}}
        <div class="col-xs-6">
            <i class="fa fa-mobile"></i> {{:mobile}}
        </div>
        {{/if}}
        {{if phone}}
        <div class="col-xs-6">
            <i class="fa fa-phone"></i> {{:phone}}
        </div>
        {{/if}}
    </div>
    {{/if}}

    {{if address || suburb || state || postcode}}
    <div class="row">
        <div class="col-xs-12">
            <i class="fa fa-map-marker"></i> {{:address}}, {{:suburb}}, {{:state}} {{:postcode}}
        </div>
    </div>
    {{/if}}
</div>
</script>
<script id="propertyTpl" type="text/x-jsrender">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-6">
                    <i class="fa fa-calendar"></i> Listing Date: {{:listingDate}}
                </div>
                <div class="col-xs-6">
                    <i class="fa fa-home"></i> Unit Size: {{:unitSize}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <i class="fa fa-map-marker"></i> Address:  {{:address}}, {{:suburb}}, {{:state}} {{:postcode}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-12">
                    <i class="fa fa-user"></i> Contacts: {{:primaryContactName}}
                    {{if secondaryContactName}}
                    , {{:secondaryContactName}}
                    {{/if}}
                </div>
            </div>
            {{if mobile || phone}}
            <div class="row">
                {{if mobile}}
                <div class="col-xs-6">
                    <i class="fa fa-mobile"></i> {{:mobile}}
                </div>
                {{/if}}
                {{if phone}}
                <div class="col-xs-6">
                    <i class="fa fa-phone"></i> {{:phone}}
                </div>
                {{/if}}
            </div>
            {{/if}}

            {{if email || fax}}
            <div class="row">
                {{if email}}
                <div class="col-xs-12">
                    <i class="fa fa-envelope"></i> {{:email}}
                </div>
                {{/if}}
                {{if fax}}
                <div class="col-xs-12">
                    <i class="fa fa-fax"></i> {{:fax}}
                </div>
                {{/if}}
            </div>
            {{/if}}
        </div>
    </div>
</script>
{% endraw %}

{# Deal Details #}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-notebook"></i>
            <span class="caption-subject"> Deal Details</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            {# Status #}
            <div class="col-sm-6">
                {{ form_row(form.status) }}
            </div>

            {# Sales Source #}
            <div class="col-sm-6">
                {{ form_row(form.saleSource) }}
            </div>
        </div>

        <div class="row">
            {# Form6 #}
            <div class="col-sm-6">
                {{ form_row(form.form6) }}
            </div>

            <div class="col-sm-6">
                {{ form_row(form.conjunctionAgentAddress) }}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                Comments<br/>
                {{ form_widget(form.comments) }}
            </div>
        </div>
    </div>
</div>

{# Workflow #}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-calendar"></i>
            <span class="caption-subject"> Workflow</span>
        </div>
    </div>
    <div class="portlet-body form">

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.offerAcceptedDate) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.confirmationEmailSentDate) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.submittedToSolicitorsDate) }}
            </div>

            <div class="col-sm-6">
                {{ form_row(form.contractsSignedDate) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.saleDate) }}
            </div>

            <div class="col-sm-6">
                {{ form_row(form.settlementDate) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.deposit) }}
            </div>

            <div class="col-sm-6">
                {{ form_row(form.depositDueDate) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.accountant) }}
            </div>

            <div class="col-sm-6">
                {{ form_row(form.accountantDiligenceDueDate) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.legalDiligenceSolicitor) }}
            </div>

            <div class="col-sm-6">
                {{ form_row(form.legalDiligenceDueDate) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.financeBank) }}
            </div>

            <div class="col-sm-6">
                {{ form_row(form.financeDueDate) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.balance) }}
            </div>

            <div class="col-sm-6">
                {{ form_row(form.balanceDueDate) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.bodyCorpMeetingDate) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.committeeEgmDate) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.committeeAgmDate) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.vendorForwardingAddress) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.paidAndFinalisedDate) }}
            </div>
        </div>
    </div>
</div>

{# Commissions #}
<div class="portlet light ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-briefcase"></i>
            <span class="caption-subject"> Commissions</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.unitPrice) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.commission) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.managementRightsPrice) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.managementRightsCommission) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.otherUnitPurchasePrice) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.otherUnitCommission) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.totalCommissionExclGst) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.totalCommissionGst) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.totalCommission) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.netIncome) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.multiplier) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.officePercentage) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.officeCommission) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.officeSuper) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.officeGst) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.officeTotal) }}
            </div>
        </div>
    </div>
</div>

<input class="btn btn-primary pull-left" type="submit" value="Save"/>
{{ form_end(form) }}
<button type="button" class="btn pull-left delete" data-toggle="modal" data-target=".bs-example-modal-sm">Delete</button>

<div class="clearfix"></div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p style="margin-top: 0px;">Are you sure you want to delete deal?</p>
                {% if delete_form is defined %}
                    {{ form_start(delete_form) }}
                    <div class="text-center">
                        <input class="btn delete" type="submit" value="Delete">
                        <button type="button" class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    {{ form_end(delete_form) }}
                {% endif %}

            </div>
        </div>
    </div>
</div>