{% extends 'base.html.twig' %}

{% block title %}
    View Deals
    <a href="{{ path('deal_new') }}" class="btn sbold green pull-right"> Add New
        <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block meta_title %} View Deals {% endblock %}

{% block body %}
    <div class="portlet light ">
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dealList">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Property</th>
                    <th>Buyer</th>
                    <th>Listing Agent</th>
                    <th>Sale Date</th>
                    <th>Settlement Date</th>
                    <th>Net Income</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for deal in deals %}
                    <tr data-clickable="{{ path('deal_edit', { 'id': deal.id }) }}">
                        <td><a href="{{ path('deal_edit', { 'id': deal.id }) }}">{{ deal.id }}</a></td>
                        <td>{{ deal.property.title }}</td>
                        <td>{{ deal.buyer.name }}</td>
                        <td>{{ deal.listingAgent.name }}</td>
                        <td>{{ deal.saleDate.format('d M Y') }}</td>
                        <td>{{ deal.settlementDate.format('d M Y') }}</td>
                        <td>{{ deal.netIncome }}</td>
                        <td>{{ deal.getStatusString }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/deal-list.js') }}" type="text/javascript"></script>
{% endblock %}
