{% extends 'base.html.twig' %}

{% block body %}
    <h1>Deal</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ deal.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ deal.status }}</td>
            </tr>
            <tr>
                <th>Buildingname</th>
                <td>{{ deal.buildingName }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ deal.phone }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ deal.mobile }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ deal.address }}</td>
            </tr>
            <tr>
                <th>Suburb</th>
                <td>{{ deal.suburb }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ deal.state }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ deal.postcode }}</td>
            </tr>
            <tr>
                <th>Managersunit</th>
                <td>{{ deal.managersUnit }}</td>
            </tr>
            <tr>
                <th>Rightsbusiness</th>
                <td>{{ deal.rightsBusiness }}</td>
            </tr>
            <tr>
                <th>Vendorsolicitor</th>
                <td>{{ deal.vendorSolicitor }}</td>
            </tr>
            <tr>
                <th>Purchaser</th>
                <td>{{ deal.purchaser }}</td>
            </tr>
            <tr>
                <th>Purchasersolicitor</th>
                <td>{{ deal.purchaserSolicitor }}</td>
            </tr>
            <tr>
                <th>Salesource</th>
                <td>{{ deal.saleSource }}</td>
            </tr>
            <tr>
                <th>Pamdlistingform</th>
                <td>{% if deal.pamdListingForm %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Buyerregproprietorunit</th>
                <td>{{ deal.buyerRegProprietorUnit }}</td>
            </tr>
            <tr>
                <th>Buyerregproprietorrightsbusiness</th>
                <td>{{ deal.buyerRegProprietorRightsBusiness }}</td>
            </tr>
            <tr>
                <th>Buyeraddress</th>
                <td>{{ deal.buyerAddress }}</td>
            </tr>
            <tr>
                <th>Buyersuburb</th>
                <td>{{ deal.buyerSuburb }}</td>
            </tr>
            <tr>
                <th>Buyerstate</th>
                <td>{{ deal.buyerState }}</td>
            </tr>
            <tr>
                <th>Buyerpostcode</th>
                <td>{{ deal.buyerPostcode }}</td>
            </tr>
            <tr>
                <th>Buyerphone</th>
                <td>{{ deal.buyerPhone }}</td>
            </tr>
            <tr>
                <th>Buyermobile</th>
                <td>{{ deal.buyerMobile }}</td>
            </tr>
            <tr>
                <th>Buyeremail</th>
                <td>{{ deal.buyerEmail }}</td>
            </tr>
            <tr>
                <th>Saledate</th>
                <td>{% if deal.saleDate %}{{ deal.saleDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deposit</th>
                <td>{{ deal.deposit }}</td>
            </tr>
            <tr>
                <th>Depositduedate</th>
                <td>{% if deal.depositDueDate %}{{ deal.depositDueDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Balance</th>
                <td>{{ deal.balance }}</td>
            </tr>
            <tr>
                <th>Balanceduedate</th>
                <td>{% if deal.balanceDueDate %}{{ deal.balanceDueDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Financebank</th>
                <td>{{ deal.financeBank }}</td>
            </tr>
            <tr>
                <th>Financeduedate</th>
                <td>{% if deal.financeDueDate %}{{ deal.financeDueDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Accountant</th>
                <td>{{ deal.accountant }}</td>
            </tr>
            <tr>
                <th>Accountantdiligenceduedate</th>
                <td>{% if deal.accountantDiligenceDueDate %}{{ deal.accountantDiligenceDueDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Legaldilligencesolicitor</th>
                <td>{{ deal.legalDilligenceSolicitor }}</td>
            </tr>
            <tr>
                <th>Legaldiligenceduedate</th>
                <td>{% if deal.legalDiligenceDueDate %}{{ deal.legalDiligenceDueDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Bodycorpmeetingdate</th>
                <td>{% if deal.bodyCorpMeetingDate %}{{ deal.bodyCorpMeetingDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Committeeagmdate</th>
                <td>{% if deal.committeeAgmDate %}{{ deal.committeeAgmDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Committeeegmdate</th>
                <td>{% if deal.committeeEgmDate %}{{ deal.committeeEgmDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Settlementdate</th>
                <td>{% if deal.settlementDate %}{{ deal.settlementDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Unitprice</th>
                <td>{{ deal.unitPrice }}</td>
            </tr>
            <tr>
                <th>Commission</th>
                <td>{{ deal.commission }}</td>
            </tr>
            <tr>
                <th>Managementrightsprice</th>
                <td>{{ deal.managementRightsPrice }}</td>
            </tr>
            <tr>
                <th>Managementrightscommission</th>
                <td>{{ deal.managementRightsCommission }}</td>
            </tr>
            <tr>
                <th>Otherunitpurchaseprice</th>
                <td>{{ deal.otherUnitPurchasePrice }}</td>
            </tr>
            <tr>
                <th>Otherunitcommission</th>
                <td>{{ deal.otherUnitCommission }}</td>
            </tr>
            <tr>
                <th>Totalcommissionexclgst</th>
                <td>{{ deal.totalCommissionExclGst }}</td>
            </tr>
            <tr>
                <th>Totalcommissiongst</th>
                <td>{{ deal.totalCommissionGST }}</td>
            </tr>
            <tr>
                <th>Netincome</th>
                <td>{{ deal.netIncome }}</td>
            </tr>
            <tr>
                <th>Multiplier</th>
                <td>{{ deal.multiplier }}</td>
            </tr>
            <tr>
                <th>Officepercentage</th>
                <td>{{ deal.officePercentage }}</td>
            </tr>
            <tr>
                <th>Officecommission</th>
                <td>{{ deal.officeCommission }}</td>
            </tr>
            <tr>
                <th>Officesuper</th>
                <td>{{ deal.officeSuper }}</td>
            </tr>
            <tr>
                <th>Officetotal</th>
                <td>{{ deal.officeTotal }}</td>
            </tr>
            <tr>
                <th>Officegst</th>
                <td>{{ deal.officeGst }}</td>
            </tr>
            <tr>
                <th>Vendorforwardingaddress</th>
                <td>{{ deal.vendorForwardingAddress }}</td>
            </tr>
            <tr>
                <th>Conjunctionagentaddress</th>
                <td>{{ deal.conjunctionAgentAddress }}</td>
            </tr>
            <tr>
                <th>Paidandfinalisedby</th>
                <td>{{ deal.paidAndFinalisedBy }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ deal.comments }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('deal_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('deal_edit', { 'id': deal.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
