{% extends 'base.html.twig' %}

{% block title %} Edit Property {% endblock %}
{% block meta_title %} Edit Property {% endblock %}

{% block body %}
    {%  include 'property/form.html.twig' with {'form': edit_form, 'delete_form': delete_form} %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/property-form.js') }}" type="text/javascript"></script>
{% endblock %}