{{ form_start(form) }}

{% form_theme form 'form/bootstrap_3_horizontal_2_col_layout.html.twig' %}

<div class="tabbable-line">
    <ul class="nav nav-tabs nav-justified" style="background-color: white;">
        <li role="presentation" class="active"><a href="#complexDetails" data-toggle="tab">Complex Details</a></li>
        <li role="presentation"><a href="#contactDetails" data-toggle="tab">Contact</a></li>
        <li role="presentation"><a href="#letting" data-toggle="tab">Letting</a></li>
        <li role="presentation"><a href="#office" data-toggle="tab">Office</a></li>
        <li role="presentation"><a href="#tariffs" data-toggle="tab">Tariffs</a></li>
        <li role="presentation"><a href="#features" data-toggle="tab">Features</a></li>
        <li role="presentation"><a href="#financials" data-toggle="tab">Financials</a></li>
        <li role="presentation"><a href="#publishing" data-toggle="tab">Publishing</a></li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="complexDetails">
        {% include 'property/form/complex_details.html.twig' %}
    </div>


    <div class="tab-pane" id="contactDetails">
        {% include 'property/form/contact_details.html.twig' %}
    </div>


    {%  form_theme form 'form/bootstrap_3_horizontal_2_col_layout_halves.html.twig' %}
    <div class="tab-pane" id="letting">
        {% include 'property/form/letting.html.twig' %}
    </div>

    {%  form_theme form 'form/bootstrap_3_horizontal_2_col_layout.html.twig' %}
    <div class="tab-pane" id="office">
        {% include 'property/form/office.html.twig' %}
    </div>

    <div class="tab-pane" id="tariffs">
        {% include 'property/form/tariffs.html.twig' %}
    </div>

    <div class="tab-pane" id="features">
        {% include 'property/form/features.html.twig' %}
    </div>

    {%  form_theme form 'form/bootstrap_3_horizontal_2_col_layout_halves.html.twig' %}
    <div class="tab-pane" id="financials">
        {% include 'property/form/financials.html.twig' %}
    </div>

    {%  form_theme form 'form/bootstrap_3_horizontal_2_col_layout.html.twig' %}
    <div class="tab-pane" id="publishing">
        {% include 'property/form/publishing.html.twig' %}
    </div>
</div>

<input class="btn btn-primary pull-left" type="submit" value="Save"/>

{{ form_end(form) }}
<button type="button" class="btn pull-left delete" data-toggle="modal" data-target=".bs-example-modal-sm">Delete</button>

<div class="clearfix"></div>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="mySmallModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p style="margin-top: 0px;">Are you sure you want to delete property?</p>
                {% if delete_form is defined %}
                    {{ form_start(delete_form) }}
                    <div class="text-center">
                        <input class="btn delete" type="submit" value="Delete">
                        <button type="button" class="btn" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    {{ form_end(delete_form) }}
                {% endif %}

            </div>
        </div>
    </div>
</div>



{% block stylesheets %}
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.4.0/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.4.0/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />

{% endblock %}
{% block javascripts %}
    {{ tinymce_init() }}
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.4.0/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.4.0/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
