{% extends 'blank.html.twig' %}
{% block meta_title %}
    Property Handout - {{ "now"|date("M, Y") }}
{% endblock %}

{% block body %}
<h1>Property Handout - {{ "now"|date("M, Y") }}</h1>
<p>Location: {{ location }}, Price: {{ price }}, Income: {{ minIncome }}, Beds: {{ minBeds }}</p>

    <table class="table table-striped table-bordered no-footer" id="propertyList" role="grid">
        <thead>
        <tr role="row" class="heading">
            <th> ID </th>
            <th> Location </th>
            <th> Price </th>
            <th> MNG Unit Price </th>
            <th> Body Corp Salary </th>
            <th> Business Net </th>
            <th> Total Units </th>
            <th> Pool Perm. </th>
            <th> Pool Hol. </th>
            <th> Pool Corp. </th>
            <th> Office </th>
            <th> Man Unit Size </th>
            <th> Term Remaining </th>
        </tr>
        </thead>
        <tbody>
        {% for property in properties %}
            <tr>
                <td>{{ property.id }}</td>
                <td style="white-space: nowrap;">{{ property.suburb }}</td>
                <td class="text-right">${{ property.totalPrice|number_format(0,'.',',') }}</td>
                <td class="text-right">${{ property.managerUnitPrice|number_format(0,'.',',') }}</td>
                <td class="text-right">${{ property.bodycorporateSalary|number_format(0,'.',',') }}</td>
                <td class="text-right">${{ property.netProfit|number_format(0,'.',',') }}</td>
                <td class="text-right">{{ property.totalNumUnits }}</td>
                <td class="text-right">{{ property.numPermanentUnits }}</td>
                <td class="text-right">{{ property.numHolidayUnits }}</td>
                <td class="text-right">{{ property.numCorporateUnit }}</td>
                <td>{{ property.officeTypeLabel }}</td>
                <td class="text-right"> {{ property.managerUnitSize }} </td>
                <td class="text-right">{{ (not property.agreementTerm) ? '' : property.agreementTerm+' yrs' }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}