{% extends 'base.html.twig' %}

{% block title %}
    View Properties
    <a href="{{ path('property_new') }}" class="btn sbold green pull-right"> Add New
        <i class="fa fa-plus"></i>
    </a>
{% endblock %}
{% block meta_title %} View Properties {% endblock %}

{% block body %}
    <div class="portlet light ">
        <div class="portlet-title table-filters">
            <form id="filterForm">
            <div class="filter-container">
                <label>Location:</label> <select class="form-control form-filter" name="location">
                    <option value="">All Locations</option>
                    {% for l in locations %}
                    <option value="{{ l }}" {{ (selectedLocation == l) ? 'selected' : '' }}>{{ l }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-container">
                <label>Price:</label>
                <input class="form-control form-filter input-sm" type="text" name="min-price" placeholder="Min" value="{{ minPrice }}"/>
                <input class="form-control form-filter input-sm" type="text" name="max-price" placeholder="Max" value="{{ maxPrice }}"/>
            </div>
            <div class="filter-container">
                <label>Salary:</label> <input class="form-control form-filter input-sm" type="text" name="min-income" placeholder="Min" value="{{ minIncome }}"/>
            </div>
            <div class="filter-container">
                <label>Beds:</label> <input class="form-control form-filter input-sm" type="text" name="min-beds" placeholder="Min" value="{{ minBeds }}"/>
            </div>
            <div class="filter-container">
                <label>Status:</label> <select class="form-control form-filter" name="status">
                    <option value="">All Statuses</option>
                    {% for k,v in statuses %}
                        <option value="{{ k }}" {{ (selectedStatus == k) ? 'selected' : '' }}>{{ v }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-sm blue green btn-outline filter-submit margin-bottom"><i class="fa fa-search"></i> Filter</button>
                <div class="actions hidden-xs">
                    <div class="btn-group">
                        <a class="btn blue btn-outline btn-sm" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-share"></i>
                            <span class="hidden-xs"> Export </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="{{ path('property_handout') }}?{{ q }}" target="_blank"> Property Handout </a>
                            </li>
                            <li>
                                <a href="{{ path('property_fieldlist') }}?{{ q }}" target="_blank"> Field List </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>


        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer" id="propertyList" role="grid">
                <thead>
                <tr role="row" class="heading">
                    <th class="sorting_disabled">
                        <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /> </th>
                    <th class="sortable"> ID </th>
                    <th> Title </th>
                    <th> Location </th>
                    <th> Price </th>
                    <th> Manager<br/>Unit Price </th>
                    <th> Body Corp<br/>Salary </th>
                    <th> Business Net </th>
                    <th> Total Units </th>
                    <th> Manager<br/>Unit Size </th>
                    <th> Term<br/>Remaining </th>
                    <th> Agent </th>
                    <th> Listed </th>
                    <th> Expires </th>
                    <th> Status </th>
                    <th> Featured </th>
                </tr>
                </thead>
                <tbody>
                {% for property in properties %}
                <tr>
                    <td><input name="properties[]" type="checkbox" class="checkboxes" value="{{ property.id }}" /> </td></td>
                    <td><a href="{{ path('property_edit', {'id': property.id}) }}">{{  property.id }}</a></td>
                    <td>{{ property.title }}</td>
                    <td>{{ property.suburb }}, {{ property.primaryLocation }}</td>
                    <td class="text-right">{{ property.totalPrice|number_format(0,'.',',') }}</td>
                    <td class="text-right">{{ property.managerUnitPrice|number_format(0,'.',',') }}</td>
                    <td class="text-right">{{ property.bodycorporateSalary|number_format(0,'.',',') }}</td>
                    <td class="text-right">{{ property.netProfit|number_format(0,'.',',') }}</td>
                    <td class="text-right">{{ property.totalNumUnits }}</td>
                    <td class="text-right"> {{ property.managerUnitSize }} </td>
                    <td class="text-right">{{ (not property.agreementTerm) ? '' : property.agreementTerm+' yrs' }}</td>
                    <td>{{ (not property.agent) ? '' : property.agent.name }}</td>
                    <td>{{ (not property.listingDate) ? '' : property.listingDate|date('d/m/Y') }}</td>
                    <td>{{ (not property.listingExpiry) ? '' : property.listingExpiry|date('d/m/Y') }}</td>
                    <td>{{ property.getStatusString }}</td>
                    <td>{{ property.featured ? 'Yes' : 'No' }}</td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/property-list.js') }}" type="text/javascript"></script>
{% endblock %}