{% extends 'base.html.twig' %}

{% block title %} Add Property {% endblock %}
{% block meta_title %} Add New Property {% endblock %}

{% block body %}
    <div class="portlet light ">
        <div class="portlet-body form">
            {%  include 'property/form.html.twig' with {'form': form } %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/property-form.js') }}" type="text/javascript"></script>
{% endblock %}