{% extends 'base.html.twig' %}

{% block body %}
    <h1>Property</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ property.id }}</td>
            </tr>
            <tr>
                <th>Listingdate</th>
                <td>{% if property.listingDate %}{{ property.listingDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Listingtype</th>
                <td>{{ property.listingType }}</td>
            </tr>
            <tr>
                <th>Listingexpiry</th>
                <td>{% if property.listingExpiry %}{{ property.listingExpiry|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Listingcomplextype</th>
                <td>{{ property.listingComplexType }}</td>
            </tr>
            <tr>
                <th>Primarylocation</th>
                <td>{{ property.primaryLocation }}</td>
            </tr>
            <tr>
                <th>Secondarylocation</th>
                <td>{{ property.secondaryLocation }}</td>
            </tr>
            <tr>
                <th>Alertallbuyers</th>
                <td>{% if property.alertAllBuyers %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ property.address }}</td>
            </tr>
            <tr>
                <th>Suburb</th>
                <td>{{ property.suburb }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ property.state }}</td>
            </tr>
            <tr>
                <th>Postcode</th>
                <td>{{ property.postcode }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ property.notes }}</td>
            </tr>
            <tr>
                <th>Plannumber</th>
                <td>{{ property.planNumber }}</td>
            </tr>
            <tr>
                <th>Parish</th>
                <td>{{ property.parish }}</td>
            </tr>
            <tr>
                <th>County</th>
                <td>{{ property.county }}</td>
            </tr>
            <tr>
                <th>Lastsolddate</th>
                <td>{% if property.lastSoldDate %}{{ property.lastSoldDate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Featured</th>
                <td>{% if property.featured %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('property_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('property_edit', { 'id': property.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
