<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block meta_title %}Login{% endblock %}</title>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
        {#<link href="{{ asset('assets/global/plugins/uniform/css/uniform.default.css') }}" rel="stylesheet" type="text/css" />#}


        <link href="{{ asset( 'assets/css/styles.css') }}" rel="stylesheet" type="text/css" />
        {#<link href="{{ asset('assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />#}

        <link href="{{ asset('assets/global/css/components.min.css') }}" rel="stylesheet"  type="text/css" />
        <link href="{{ asset('assets/global/css/plugins.min.css') }}" rel="stylesheet"  type="text/css" />


        <link href="{{ asset('assets/layouts/layout2/css/layout.min.css') }}" rel="stylesheet"  type="text/css" />
        <link href="{{ asset('assets/layouts/layout2/css/themes/blue.min.css') }}" rel="stylesheet"  type="text/css" />
        <link href="{{ asset('assets/layouts/layout2/css/custom.min.css') }}" rel="stylesheet"  type="text/css" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
	
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12">
					<div class="login">
						{% if error %}
                            <p>{{ error }}</p>
                        {% endif %}
						<h2>Login</h2>
						<form action="{{ path('login_check') }}" method="POST">
							<div class="form-group">
								<input type="username" name="_username" class="form-control" placeholder="Username"/>
							</div>
							
							<div class="form-group">
								<input type="password" id="password" name="_password" class="form-control" autocomplete="off" placeholder="Password"/>
							</div>
							
							<div class="form-group">
								<div class="text-center">
									<input type="submit" value="Log In" class="btn btn-primary"/>
								</div>
							</div>
							
							<!--div class="forgot-password">
								<div class="text-center">
									Forgot your password? <a class="" href="#">Click here</a>
								</div>
							</div-->
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>