{% extends app.request.xmlHttpRequest ? 'modal.html.twig' : 'base.html.twig' %}

{% block title %}Edit Note{% endblock %}

{% block body %}
    {{ form_start(edit_form, {'attr': {'id': 'editNoteForm'}}) }}
    <div class="modal-body">
        {{ form_widget(edit_form) }}
        <a class="btn delete" id="deleteNote">Delete </a>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        <input type="submit" value="Save" class="btn btn-primary" id="EditFormSubmit"/>
    </div>
    {{ form_end(edit_form) }}

    {{ form(delete_form, {'attr': {'id': 'deleteNoteForm'}}) }}

    {% if app.request.xmlHttpRequest %}
        <script>
            (function($){
                // handle submission of edit form - assumed has been loaded from buyer form
                var $form = $('#editNoteForm');
                $form.submit(function(event){
                    // process the form
                    $.ajax({
                        type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                        url         : $form.attr('action'), // the url where we want to POST
                        data        : $form.serialize(), // our data object
                        encode          : true
                    })
                        // using the done promise callback
                            .done(function(data) {
                                var html = $.templates('#buyerNoteTmpl').render(data);

                                $('#buyerNote{{ buyerNote.id }}').replaceWith(html);
                                $('#buyerNote{{ buyerNote.id }}').effect('highlight');

                                $('#myModal').modal('hide');
                            });

                    // stop the form from submitting the normal way and refreshing the page
                    event.preventDefault();
                });

                // handle delete of buyer note
                var $deleteForm = $('#deleteNoteForm');
                $('#deleteNote').click(function(){
                    if (confirm('Are you sure you wish to delete note?')) {
                        // process the form
                        $.ajax({
                            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                            url         : $deleteForm.attr('action'), // the url where we want to POST
                            data        : $deleteForm.serialize(), // our data object
                            encode      : true
                        })
                            // using the done promise callback
                                .done(function(data) {
                                    $('#buyerNote{{ buyerNote.id }}').slideUp();
                                });

                        $('#myModal').modal('hide');

                        // stop the form from submitting the normal way and refreshing the page
                        event.preventDefault();
                    }
                    else {
                        return false;
                    }
                });
            })(jQuery);
        </script>
    {% endif %}
{% endblock %}
