{% extends 'base.html.twig' %}

{% block body %}
    <h1>BuyerNote list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Visitdate</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for buyerNote in buyerNotes %}
            <tr>
                <td><a href="{{ path('buyernote_show', { 'id': buyerNote.id }) }}">{{ buyerNote.id }}</a></td>
                <td>{{ buyerNote.title }}</td>
                <td>{% if buyerNote.visitDate %}{{ buyerNote.visitDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ buyerNote.details }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('buyernote_show', { 'id': buyerNote.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('buyernote_edit', { 'id': buyerNote.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('buyernote_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
