{% extends app.request.xmlHttpRequest ? 'modal.html.twig' : 'base.html.twig' %}

{% block title %}Add Note{% endblock %}
{% block body %}
    {{ form_start(form, {'attr': {'id': 'addNoteForm'}}) }}
    <div class="modal-body">
        {{ form_widget(form) }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    {% if app.request.xmlHttpRequest %}
        <script>
            // need to move this function out of view template
            (function($){
                var $form = $('#addNoteForm');
                $form.submit(function(event){
                    // process the form
                    $.ajax({
                        type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                        url         : $form.attr('action'), // the url where we want to POST
                        data        : $form.serialize(), // our data object
                        encode          : true
                    })
                        // using the done promise callback
                            .done(function(data) {
                                console.log(data.id);
                                var html = $.templates('#buyerNoteTmpl').render(data);
                                $('#notesList').prepend(html);
                                $('#buyerNote'+data.id).effect('highlight');

                                $('#myModal').modal('hide');
                            });

                    // stop the form from submitting the normal way and refreshing the page
                    event.preventDefault();
                });
            })(jQuery);
        </script>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
