{% extends 'base.html.twig' %}

{% block body %}
    <h1>BuyerNote</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ buyerNote.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ buyerNote.title }}</td>
            </tr>
            <tr>
                <th>Visitdate</th>
                <td>{% if buyerNote.visitDate %}{{ buyerNote.visitDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ buyerNote.details }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('buyernote_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('buyernote_edit', { 'id': buyerNote.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
