{% extends 'base.html.twig' %}

{% block body %}
    <h1>PropertyNote list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Details</th>
                <th>Createdat</th>
                <th>Modifiedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for propertyNote in propertyNotes %}
            <tr>
                <td><a href="{{ path('propertynote_show', { 'id': propertyNote.id }) }}">{{ propertyNote.id }}</a></td>
                <td>{{ propertyNote.title }}</td>
                <td>{{ propertyNote.details }}</td>
                <td>{% if propertyNote.createdAt %}{{ propertyNote.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if propertyNote.modifiedAt %}{{ propertyNote.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('propertynote_show', { 'id': propertyNote.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('propertynote_edit', { 'id': propertyNote.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('propertynote_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
