{% extends 'base.html.twig' %}

{% block body %}
    <h1>PropertyNote</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ propertyNote.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ propertyNote.title }}</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>{{ propertyNote.details }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if propertyNote.createdAt %}{{ propertyNote.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifiedat</th>
                <td>{% if propertyNote.modifiedAt %}{{ propertyNote.modifiedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('propertynote_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('propertynote_edit', { 'id': propertyNote.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
